fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-multipart
openai
pillow
websockets
redis
celery
slowapi
httpx
qrcode
google-generativeai
pydantic-settings
pydantic[email]
pusher
